@import "./colors";

.hero {
  background: url("/public/images/image.png") no-repeat center center; // Ensure proper centering
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
  width: 100%;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    z-index: 150; // Keeps container on top
    width: 60%;
    padding: 2rem; // Added padding for spacing
    position: relative;
    top: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); // Slightly darker overlay for better text visibility
    backdrop-filter: blur(5px); // Enhanced blur effect for modern feel
    border-radius: 15px; // Added rounded corners for better design

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: $color4;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem; // Reduced font size for better readability
      font-weight: 400;
      color: $color4;
      margin-bottom: 2rem;
    }

    button {
      width: 12rem;
      height: 3.5rem;
      background-color: black;
      border: none;
      font-size: large;
      border-radius: 5px;
      transition: 0.1s all;
      &:hover {
        transform: translateY(-3px); // Slight lift on hover
        opacity: 0.8;
      }

      &:active {
        transform: translateY(0); // Reset on click
      }
    }
  }
}
@media (max-width: 1024px) {
  .hero{
    .container {
      padding: 1.5rem;

      h2 {
        font-size: 2.4rem;
      }

      ul {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .container {
      padding: 1rem;

      h2 {
        font-size: 2rem;
      }

      ul {
        font-size: 1rem;
      }
    }
  }
}
